@media(max-width: 784px){
	.aboutButtonImg img:first-child,
	.aboutButtonImg:first-child{
		max-height: 100%;
	}
	.aboutButtonImg img,
	.aboutButtonImg{
   		max-width:100%;
	}	
	.aboutParagraph{
		margin-top:1rem;
	}
}
@media(max-width: 578px){
	.articleDiscription{
		margin: .5rem 0;
		width: 100%;
		font-size: .8rem;
	}
	.article{
		margin: 0 2rem;

	}
}
@media(max-width: 430px){
	h1{
		font-size:1.5rem;
	}
	.aboutParagraph{
		font-size:.8rem;
	}
	.aboutGalleryContainer h3,
	.aboutArticlesContainer h3{
    	margin-top: 1rem;	
	}
	.allArticles a{
    	font-size: .8rem;	
	}
}
