body{
	margin:0;
	background-color: lightgray;
	text-align: center;
}
*{
	font-family: 'Catamaran', sans-serif;
}
header{
	padding-top: 2rem;
	padding-bottom:2rem;
}
footer{
	margin: 0 auto;
    background-color: black;
    color: white;
    width: 90%;
    max-width: 1000px;
    font-size: .7rem;
}
button{
	cursor: pointer;
}
button:hover,
button:focus{
	outline: none;	
}

.mainContainer{
	width: 90%;
	max-width:1000px;
	margin:0 auto;
	background-color: white;
}
.container{
	display: none;
}

/***nav***/

.nav{
	padding:0;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	background-color: #333;
}
.nav li{
	list-style: none;
	border-right: 1px solid lightgray;	
}
.nav li:last-child{
	border-right: none;
}
.navButton{
    border: none;
    float: left;
    font-size: 1rem;
    padding: .3rem 1rem;
    background-color: #333;
    color:white;	
}
.navButton:hover ,
.suitsNavButton:hover{
    background-color: #111;     
}
.navButton:focus,
.suitsNavButton:focus {
    background-color: #111; 
    outline: none;
}
.activHome,
.activSuits{
	background-color: #111; 
}

.activSelect{
	display: none;
}
.suitsSelect{
	max-width: 190px;
    margin: 0 auto;
    padding-left: 2.6rem;
}
.suitsSelect ul{
	margin: 0;
    padding: 0;
}
.suitsSelect ul li{
	list-style: none;
    width: 136px;
}
.suitsNavButton{
	border: none;
    text-align: left;
    padding: .4rem 1rem;
    background-color: #333;
    color: white;
	width: 100%;
}
/***home***/

.about{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.aboutParagraph{
	max-width: 550px;
	text-align: left;
	margin: 0 2rem;
	font-size: 1.1rem;
}
.aboutImgContainer{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 0 auto;
}
.aboutButtonImg{
	border: 0;
    padding: 0;
    position: relative;
    opacity: 1;
    display: flex;
    margin: .3rem;
}
.aboutButtonImg img:first-child,
.aboutButtonImg:first-child{
   max-height: 327px;
}
.wrap{
	display: flex;
    flex-direction: column;
}

.aboutButtonImg span{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: .4rem 0;
    background-color: rgba(255,255,255,.5);
    font-weight: bold;
    font-size: 1rem;
}
.aboutButtonImg:hover,
.aboutButtonImg:focus{
	opacity:.8;
	outline: none;
}
.aboutGalleryContainer h3,
.aboutArticlesContainer h3{
	margin-top: 2rem;
}
.articlesContainer{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 2rem;
}
.article{
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
	justify-content: center;
}
.article:first-child{
	margin-top:0;
}
.article img{
	align-self: flex-start;
}
.article img:hover,
.article img:active{
	opacity:.8;
}
.articleDiscription{
    max-width: 630px;
    width: 70%;
    text-align: left;
    margin-left: 2rem;
    font-size: .9rem;
}
.articleDiscription a{
	text-decoration: none;
	color:black;
	font-weight: bold;
}
.articleDiscription a:hover,
.articleDiscription a:focus{
	text-decoration: underline;
}
.articleDiscription p{
	margin:0;
}
.allArticles a{
	background-color: black;
    color: white;
    text-decoration: none;
    padding: .4rem .8rem;
    border-radius: 5px;
    font-size: .9rem;
    opacity: .8;	
}
.allArticles a:hover,
.allArticles a:active{
	opacity: 1;
}
.allArticles{
    margin-top: .5rem;
    text-align: right;
    width: 90%;
}

/***gallery***/

.item{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-width: 300px;
}

.suitsContainer{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 1rem;
}
.suitsContainer img{
	max-width: 300px;
    width: 95%;
    margin: .3rem auto;
    cursor: pointer;    
}
.suitsContainer img:hover,
.suitsContainer img:focus,
.shoesContainer img:hover,
.shoesContainer img:focus{
	opacity: .8;
}
.shoesContainer{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
}
.shoesContainer img{
	max-width: 300px;
    height: 200px;
    width: 95%;
    margin: 1rem;
    cursor: pointer;
}


/***contact***/
.contactInfo li{
	list-style: none;
	text-align: left;
	padding: .2rem;
}
.contactInfo li:last-child{
	padding-top: .5rem;
}
.contactInfo li:last-child a:last-child img{
	width: 30px;
	margin: 1.5px 3px;
}
.contactInfo li:last-child a img{
	width: 35px;
}
.contactInfo li:last-child a:hover,
.contactInfo li:last-child a:focus{
	opacity: .8;
}
.contactIcon img{
	width: 15px;
	vertical-align: sub;
	margin-right: 1rem;
}
.contactContainer{
	padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contactContainer iframe{
	border: 0;
    width: 95%;
    max-width: 400px;
    margin-top:1rem;
}

/***popUp container***/
#popSlide{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.75);
    z-index:5000;
}
#popContainer{
	max-width: 80%;
	position: relative;
}
#popContainer button{
	display: none;
	position: absolute;	
	border:none;
	font-weight: bold;
	opacity:.6;
	background-color:black;
	color:white;
}
#popContainer:hover button,
#popContainer:focus button{
	display: block;
}

#popContainer button:hover,
#popContainer button:active{
	opacity:.8;
}
#imgCont img{
	max-width: 800px;
    width: 100%;
}
#leftButton{
	top:43%;
	left: 0;
}
#rightButton{
	top:43%;
	right:0;
}
#deletButton{
	top:0;
	right:0;
}
#leftButton,
#rightButton{	
	color:white;
	font-size: 2rem;
    padding: 7px 12px;
}